html{
    height: 100%;
}
body{
    height:100%;
    padding:0;
    margin:0;
    background:rgb(255, 255, 255);
}

.outer_container {
    /* border:2px solid indianred; */
    margin:10px;
    /* box-shadow:3px 4px 5px black; */
    /* border-radius:15px; */
    height:90%;
    padding:0;
}

.top_header{
    /* height:10%; */
    display:flex;
    justify-content: center;
    border:0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgb(22, 22, 22);
    box-shadow: 2px -3px 5px rgba(0, 0, 0, 0.644);
}
.top_header > img {
    padding:10px 10px;
    flex-basis: 80px;
}
.heading {
    margin-top: 0;
    margin-bottom: 0;
    padding:19px 25px;
    font-size: 1.9rem;
    text-align: center;
    color:rgb(121, 121, 121);
    /* text-shadow: 3px 3px 3px black; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inner_container {
    /* min-height:150px; */
    min-height:6%;
    display:flex;
    justify-content: space-evenly;
    /* margin : 25px; */
    padding:25px;
    background-color:rgb(7, 80, 104);
    /* border:2px solid black; */
    align-items: flex-start;
    flex-wrap: wrap;
    color:rgb(221, 221, 221);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 2px 15px black;
}

.user {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.7rem;
}

.user > input {
    padding:5px 25px;
    border:0;
    outline:none;
    border-radius: 5px;
    font-size:1.3rem;
    background-color:#e96e6e;
    box-shadow: inset -3px  -3px 3px black;
}

input:hover {
    box-shadow: inset -3px  -3px 3px black;
}

.ambulance {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.7rem;
}

.ambulance > input {
    padding:5px 25px;
    border:0;
    outline:none;
    border-radius: 5px;
    font-size:1.3rem;
    background-color:rgb(37, 180, 180);
    box-shadow: inset -3px  -3px 3px black;
    
}

input:active {
    box-shadow: inset 0px 0px 6px black;
}

input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color:rgb(233, 229, 229);
}
.display{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.7rem;
    line-height: none;
    margin:0;
    padding:0;
    display:flex;
    /* border:2px solid black; */
}

.display > p{
    margin:0;
    padding:0;
}

#vehicleNums {
    padding-left: 15px;
}

#map {
    height:70%;
    /* box-shadow: 3px 0px 3px black; */
}

footer {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(78, 75, 75);
    font-style: italic;
}

@media (max-width:600px){
    .heading{
        padding-left: 5px;
        font-size:0.9rem;
    }
    .top_header > img {
        margin-left: 15px;
        /* margin-right: 10px; */
    }
    .inner_container{
        min-height: 180px;
        justify-content: start;
    }
    .display{
        flex-wrap: wrap;
        justify-content: center;
    }
    .display > p{
        text-align: left;
    }
    p{
        font-size: 0.9rem;
    }
    label{
        font-size: 0.9rem;
    }
}